#root {
    background-color: rgba(249, 249, 249, .4);
}

body.active {
    overflow: hidden;
}

/* navbar */
nav {
    display: flex;
    border-bottom: .1px solid #ced4da;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #fff;
}

nav > .container {
    height: 55px;
    /* border: 1px solid #333; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav > .container > img {
    height: 100%;
    /* border: 1px solid red; */
    margin: 0 !important;
}

nav > .container > .right {
    display: flex;
    gap: 20px;
    /* border: 1px solid red; */
    align-items: center;
    flex: 1;
    justify-content: right;
}

nav > .container > .right > .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    cursor: pointer;
}

nav > .container > .right > .hamburger > span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #0A2647;
}

nav > .container > .right > .button-container {
    display: flex;
    gap: 7px;
    /* border: 1px solid #333; */
}

nav > .container > .right > .button-container > .btn-primary {
    margin: 0 !important;
    min-height: 35px !important;
    min-width: 90px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(1) {
    background-color: #fff;
    border: 1px solid #0A2647;
    border-radius: 3px;
    color: #0A2647;
    font-weight: 500;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(1):hover,
.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(1):hover {
    background-color: #f7f7f7;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(2) {
    background-color: #0A2647;
    border: 1px solid #0A2647;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(2):hover,
.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(2):hover {
    background-color: #0e3663;
}

nav > .container > .right > .anchor > .bi-cart-fill {
    font-size: 18px;
    color: #0A2647;
}

nav > .container > .right > .anchor:nth-child(2) {
    text-decoration: none;
    color: #0A2647;
    font-weight: 600;
    font-size: 15px;
}

nav > .container > .right > .search {
    width: 250px;
    display: flex;
}

nav > .container > .right > .search > input {
    flex: 1;
    height: 35px;
    border-radius: 3px 0 0 3px;
    box-shadow: none;
}

nav > .container > .right > .search > input::placeholder {
    font-size: 14px;
}

nav > .container > .right > .search > .btn-primary {
    width: 35px;
    height: 35px;
    border-radius: 0 3px 3px 0;
    background-color: #0A2647;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0A2647;
}

nav > .container > .right > .search > .btn-primary:hover {
    background-color: #0e3663;
}

nav > .container > .right > .search > .btn-primary > .bi-search {
    color: #fff;
    font-size: 14px;
}

/* menu */
.menu-contents {
    position: fixed;
    top: 56px;
    left: -100vw;
    bottom: 0;
    min-width: 250px;
    background-color: #fff;
    border-right: 1px solid #ced4da;
    transition: 1s;
    display: flex;
    padding: 20px;
    z-index: 9;
}

.menu-contents.active {
    left: 0;
}

.menu-contents > .container {
    flex: 1;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 !important;
    list-style: none;
}

.menu-contents > .container > li {
    display: flex;
    /* border: 1px solid #333; */
    align-items: center;
}

.menu-contents > .container > li:nth-child(1) {
    gap: 7px;
    display: none;
    /* border: 1px solid #333; */
}

.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(1) {
    min-height: 35px;
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #0A2647;
    font-size: 14px;
    color: #0A2647;
    font-weight: 500;
}

.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(2) {
    min-height: 35px;
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #0A2647;
    border: 1px solid #0A2647;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.menu-contents > .container > li.title {
    margin: 0;
    color: #0A2647;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.menu-contents > .container > li.title {
    margin-bottom: 5px;
}

.menu-contents > .container > li.title:not(:nth-child(2)) {
    margin-top: 10px;
}

.menu-contents > .container > li > .anchor {
    display: flex;
    gap: 10px;
    /* border: 1px solid #333; */
    align-items: center;
}

.menu-contents > .container > li > .anchor > .bi-journal-text,
.menu-contents > .container > li > .anchor > .bi-heart,
.menu-contents > .container > li > .anchor > .bi-star,
.menu-contents > .container > li > .anchor > .bi-shop,
.menu-contents > .container > li > .anchor > .bi-person-x,
.menu-contents > .container > li > .anchor > .bi-question-circle,
.menu-contents > .container > li > .anchor > .bi-qr-code-scan,
.menu-contents > .container > li > .anchor > .bi-bag-dash,
.menu-contents > .container > li > .anchor > .bi-cart,
.menu-contents > .container > li > .anchor {
    color: #0A2647;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 !important;
}

.menu-contents > .container > li:nth-child(7),
.menu-contents > .container > li:nth-child(8) {
    /* border: 1px solid #333; */
    display: none;
}

.menu-contents > .container > li > .anchor {
    font-size: 14px;
}

.carousel-contents {
    margin: 65px 0 10px 0;
    min-height: 200px;
    /* border: 1px solid #ced4da; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.carousel-contents > .slider {
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    display: flex;
    overflow: hidden;
}

.carousel-contents > .slider > .slide {
    min-width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    margin: 0;
    transition: 1s;
}

.carousel-contents > .slider > .slide > img {
    width: 100%;
    margin: 0 !important;
    border-radius: 3px;
}

.carousel-contents > .pagination {
    position: absolute;
    width: 100%;
    height: 40px;
    /* background-color: #000; */
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.carousel-contents > .pagination > .circle {
    width: 10px;
    height: 10px;
    /* border: 1px solid #fff; */
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    /* transition: .5s; */
}

.recommendation-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid #333; */
    margin-bottom: 10px;
}

.recommendation-contents > .recommendation {
    width: 100%;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 55px;
    z-index: 2;
}

.recommendation-contents > .recommendation > .box {
    width: 100%;
    height: 45px;
    /* border: 1px solid blue; */
    box-shadow: 0 0.2px 25px 0 rgb(180, 181, 183, .23);
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.recommendation-contents > .recommendation > .box > h5 {
    margin: 0 !important;
    font-size: 15px;
    color: #0A2647;
}

.recommendation-contents > .recommendation > .line {
    width: 100%;
    height: 3px;
    background-color: #0A2647;
}

.recommendation-contents > .product-container {
    width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 10px;
}

.recommendation-contents > .product-container > .product {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.recommendation-contents > .product-container > .product > img {
    border: .1px solid #ced4da;
    border-radius: 3px 3px 0 0;
    width: 100%;
}

.recommendation-contents > .product-container > .product > .desc {
    width: 100%;
    min-height: 70px;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.recommendation-contents > .product-container > .product > .desc > .title {
    margin: 0 !important;
    color: #0A2647;
    font-size: 14px;
    text-decoration: none;
}

.recommendation-contents > .product-container > .product > .desc > p {
    margin: 0 !important;
}

.recommendation-contents > .product-container > .product > .desc > .price {
    color: #0A2647;
    font-weight: 500;
    font-size: 14px;
}

.recommendation-contents > .product-container > .product > .desc > .discount-container {
    width: 100%;
    /* padding: 10px 0; */
    /* border: 1px solid #333; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.recommendation-contents > .product-container > .product > .desc > .discount-container > .discount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 3px;
    background-color: rgba(249, 77, 99, .6);
    border-radius: 2px;
}

.recommendation-contents > .product-container > .product > .desc > .discount-container > .discount > p {
    margin: 0 !important;
    font-size: 14px;
    color: #D80707;
    font-weight: 500;
}

.recommendation-contents > .product-container > .product > .desc > .discount-container > .price-old {
    margin: 0 !important;
    color: rgba(10, 38, 71, .5);
    font-size: 14px;
    text-decoration: line-through;
}

.recommendation-contents > .product-container > .product > .desc > .rating {
    width: 100%;
    /* padding: 10px 0; */
    /* border: 1px solid #333; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.recommendation-contents > .product-container > .product > .desc > .rating > .bi-star-fill {
    color: #ffd700;
}

.recommendation-contents > .product-container > .product > .desc > .rating > .sold {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* border: 1px solid blue; */
    color: rgba(10, 38, 71, .6);
    margin: 0 !important;
}

.recommendation-contents > .product-container > .product > .desc > .rating > .sold > p {
    margin: 0 !important;
    color: rgba(10, 38, 71, .6);
    font-size: 14px;
}

.recommendation-contents > .show-more-contents {
    width: 100%;
    /* border: 1px solid #ced4da; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendation-contents > .show-more-contents > .show-more-button {
    min-width: 150px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(10, 38, 71, .7);
    text-decoration: none;
    font-size: 14px;
    border: .1px solid #ced4da;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 20px;
}

.recommendation-contents > .show-more-contents > .show-more-button:hover {
    background-color: #f9f9f9;
}

/* signin and register*/
.signin-page-contents {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    visibility: hidden;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-page-contents.active {
    visibility: visible;
}

.signin-page-contents.active > .signin {
    width: 370px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    animation: grow .4s ease 1 alternate forwards;
}

.signin-page-contents > .signin {
    display: flex;
    flex-direction: column;
}

.signin-page-contents > .signin > .top {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ced4da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.signin-page-contents > .signin > .top > h5 {
    margin: 0 !important;
    font-size: 15px;
    color: #0A2647;
}

.signin-page-contents > .signin > .top > .close {
    width: 16px;
    height: 100%;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.signin-page-contents > .signin > .top > .close > span {
    display: block;
    width: 100%;
    height: 2.3px;
    background-color: #6B728E;
}

.signin-page-contents > .signin > .top > .close > span:nth-child(1) {
    transform: rotate(45deg);
}

.signin-page-contents > .signin > .top > .close > span:nth-child(2) {
    position: absolute;
    transform: rotate(-45deg);
}

@keyframes grow {
    0% {
        transform: scale(.4);
    } 50% {
        transform: scale(1);
    } 70% {
        transform: scale(.9);
    } 100% {
        transform: scale(1);
    }
}

.signin-page-contents > .signin > form {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.signin-page-contents > .signin > form > input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    box-shadow: none;
}

.signin-page-contents > .signin > form > input::placeholder,
.signin-page-contents > .signin > form > .password-container > input::placeholder {
    font-size: 14px;
}

.signin-page-contents > .signin > form > .password-container {
    width: 100%;
    display: flex;
    height: 35px;
}

.signin-page-contents > .signin > form > .password-container > input {
    flex: 1;
    border-radius: 3px 0 0 3px;
    box-shadow: none;
}

.signin-page-contents > .signin > form > .password-container > .displays-password {
    width: 35px;
    height: 100%;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signin-page-contents > .signin > form > .password-container > .displays-password:hover {
    background-color: #f9f9f9;
}

.signin-page-contents > .signin > form > .password-container > .displays-password .bi-eye-slash,
.signin-page-contents > .signin > form > .password-container > .displays-password.active > .bi-eye {
    display: block;
}

.signin-page-contents > .signin > form > .password-container > .displays-password.active .bi-eye-slash,
.signin-page-contents > .signin > form > .password-container > .displays-password > .bi-eye {
    display: none;
}

.signin-page-contents > .signin > form > .forget-password {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.signin-page-contents > .signin > form > .forget-password > .anchor {
    font-size: 12px;
    text-decoration: none;
}

.signin-page-contents > .signin > form > .btn-primary {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #0A2647;
    background-color: #0A2647;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.signin-page-contents > .signin > form > .btn-primary:hover {
    background-color: #0e3663;
}

/* footer */
footer {
    border-top: .1px solid #ced4da;
    background-color: #fff;
    margin: 40px 0 0 0;
    padding: 10px 0;
}

footer > .container {
    min-height: 200px;
    /* border: 1px solid #ced4da; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 30px;
}

footer > .container > .box {
    padding: 10px 0;
    /* border: 1px solid #ced4da; */
    display: flex;
    flex-direction: column;
    gap: 7px;
}

footer > .container > .box > .title {
    font-size: 17px;
    color: #0A2647;
}

footer > .container > .box > .title:not(:first-child) {
    padding-top: 23px;
}

footer > .container > .box > .anchor {
    color: #0A2647;
    text-decoration: none;
    font-size: 14px;
}

footer > .container > .box:nth-child(3) > .social-media {
    width: 100%;
    /* border: 1px solid #ced4da; */
    display: flex;
    align-items: center;
    gap: 10px;
}

footer > .container > .box:nth-child(3) > .social-media > .media {
    display: flex;
    /* border: 1px solid #333; */
}

footer > .container > .box:nth-child(3) > .social-media > .media > .bi-facebook {
    color: #4267B2;
    font-size: 20px;
    margin: 0 !important;
}

footer > .container > .box:nth-child(3) > .social-media > .media > .bi-twitter {
    color: #00ACEE;
    font-size: 20px;
    margin: 0 !important;
}

footer > .container > .box:nth-child(3) > .social-media > .media > .bi-pinterest {
    color: #E60023;
    font-size: 20px;
    margin: 0 !important;
}

footer > .container > .box:nth-child(3) > .social-media > .media > .bi-instagram {
    color: #C13584;
    font-size: 20px;
    margin: 0 !important;
}

footer > .container > .box:nth-child(4) > img {
    width: 100%;
}

/* responsive */
@media screen and (max-width: 1200px) {
    .recommendation-contents > .product-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .recommendation-contents > .product-container {
        grid-template-columns: repeat(4, 1fr);
    }

    footer > .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    nav > .container > .right > .button-container {
        display: none;
    }

    .menu-contents > .container > li:nth-child(1) {
        display: flex;
    }

    .recommendation-contents > .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    nav > .container > .right > .anchor:nth-child(2),
    nav > .container > .right > .anchor:nth-child(3) {
        display: none;
    }

    nav > .container > .right > .search {
        flex: 1 !important;
    }

    .menu-contents {
        padding: 20px 10px;
        width: 100%;
    }

    .menu-contents > .container > li:nth-child(7),
    .menu-contents > .container > li:nth-child(8) {
        display: flex;
    }

    .carousel-contents {
        padding: 0 !important;
        margin-top: 55px;
    }

    .carousel-contents > .slider > .slide > img {
        border-radius: 0;
    }

    .recommendation-contents > .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    body.active {
        overflow: auto;
    }

    .signin-page-contents.active {
        visibility: hidden;
    }

    footer > .container {
        grid-template-columns: 1fr;
    }

    footer > .container > .box {
        align-items: center;
    }

    footer > .container > .box > .title,
    footer > .container > .box > .anchor {
        text-align: center;
    }

    footer > .container > .box:nth-child(3) > .social-media {
        justify-content: center;
    }
    
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 5px;
    border: 3.5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}