/* navbar */
nav {
    display: flex;
    border-bottom: .1px solid #ced4da;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #fff;
}

nav > .container {
    height: 55px;
    /* border: 1px solid #333; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav > .container > img {
    height: 100%;
    /* border: 1px solid red; */
    margin: 0 !important;
}

nav > .container > .right {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav > .container > .right > .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    cursor: pointer;
}

nav > .container > .right > .hamburger > span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #0A2647;
}

nav > .container > .right > .button-container {
    display: flex;
    gap: 7px;
    /* border: 1px solid #333; */
}

nav > .container > .right > .button-container > .btn-primary {
    margin: 0 !important;
    min-height: 35px !important;
    min-width: 90px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(1) {
    background-color: #fff;
    border: 1px solid #0A2647;
    border-radius: 3px;
    color: #0A2647;
    font-weight: 500;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(1):hover,
.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(1):hover {
    background-color: #f7f7f7;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(2) {
    background-color: #0A2647;
    border: 1px solid #0A2647;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}

nav > .container > .right > .button-container > .btn-primary:nth-child(2):hover,
.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(2):hover {
    background-color: #071b31;
}

nav > .container > .right > .anchor > .bi-cart-fill {
    font-size: 18px;
    color: #0A2647;
}

nav > .container > .right > .anchor:nth-child(2) {
    text-decoration: none;
    color: #0A2647;
    font-weight: 600;
    font-size: 15px;
}

nav > .container > .right > .search {
    width: 250px;
    display: flex;
}

nav > .container > .right > .search > input {
    flex: 1;
    height: 35px;
    border-radius: 3px 0 0 3px;
}

nav > .container > .right > .search > input::placeholder {
    font-size: 14px;
}

nav > .container > .right > .search > .btn-primary {
    width: 35px;
    height: 35px;
    border-radius: 0 3px 3px 0;
    background-color: #0A2647;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0A2647;
}

nav > .container > .right > .search > .btn-primary:hover {
    background-color: #071b31;
}

nav > .container > .right > .search > .btn-primary > .bi-search {
    color: #fff;
    font-size: 14px;
}

/* menu */
.menu-contents {
    position: fixed;
    top: 56px;
    left: -100vw;
    bottom: 0;
    min-width: 250px;
    background-color: #fff;
    border-right: 1px solid #ced4da;
    transition: 1s;
    display: flex;
    padding: 20px;
    z-index: 9;
}

.menu-contents.active {
    left: 0;
}

.menu-contents > .container {
    flex: 1;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 !important;
    list-style: none;
}

.menu-contents > .container > li {
    display: flex;
    /* border: 1px solid #333; */
    align-items: center;
}

.menu-contents > .container > li:nth-child(1) {
    gap: 7px;
    display: none;
    /* border: 1px solid #333; */
}

.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(1) {
    min-height: 35px;
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #0A2647;
    font-size: 14px;
    color: #0A2647;
    font-weight: 500;
}

.menu-contents > .container > li:nth-child(1) > .btn-primary:nth-child(2) {
    min-height: 35px;
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #0A2647;
    border: 1px solid #0A2647;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.menu-contents > .container > li.title {
    margin: 0;
    color: #0A2647;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.menu-contents > .container > li.title {
    margin-bottom: 5px;
}

.menu-contents > .container > li.title:not(:nth-child(2)) {
    margin-top: 10px;
}

.menu-contents > .container > li > .anchor {
    display: flex;
    gap: 10px;
    /* border: 1px solid #333; */
    align-items: center;
}

.menu-contents > .container > li > .anchor > .bi-journal-text,
.menu-contents > .container > li > .anchor > .bi-heart,
.menu-contents > .container > li > .anchor > .bi-star,
.menu-contents > .container > li > .anchor > .bi-shop,
.menu-contents > .container > li > .anchor > .bi-person-x,
.menu-contents > .container > li > .anchor > .bi-question-circle,
.menu-contents > .container > li > .anchor > .bi-qr-code-scan,
.menu-contents > .container > li > .anchor > .bi-bag-dash,
.menu-contents > .container > li > .anchor > .bi-cart,
.menu-contents > .container > li > .anchor {
    color: #0A2647;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 !important;
}

.menu-contents > .container > li:nth-child(7),
.menu-contents > .container > li:nth-child(8) {
    /* border: 1px solid #333; */
    display: none;
}

.menu-contents > .container > li > .anchor {
    font-size: 14px;
}

.carousel-contents {
    margin-top: 65px;
    min-height: 200px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 0 !important;
    overflow: hidden;
}

/* responsive */
@media screen and (max-width: 768px) {
    nav > .container > .right > .button-container {
        display: none;
    }

    .menu-contents > .container > li:nth-child(1) {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    nav > .container > .right > .anchor:nth-child(2),
    nav > .container > .right > .anchor:nth-child(3) {
        display: none;
    }

    .menu-contents {
        padding: 20px 10px;
        width: 100%;
    }

    .menu-contents > .container > li:nth-child(7),
    .menu-contents > .container > li:nth-child(8) {
        display: flex;
    }
}